<!DOCTYPE html>
<html lang="zh-cn">
    <!--引入头部start-->
    {include file="public/head" /}
    <!--引入头部end-->
    <body>
        <div class="second_page_b"> </div>
        <!--引入菜单 start-->
        {include file="public/headNav" /}
        <!--引入菜单 end-->
        <div class="h_100"></div>
        <div class="content">
            <div class="second_page">
                <div class="side_l">
                    {include file="public/leftPictureNav" /}
                    {include file="public/leftContactUs" /}
                </div>
                <div class="side_r news_">
                    <div class="section_title_1"> 
                        <p>作品/GALLERY</p>
                        <div class="setting">
                            <img src='picture/title1.png'/>
                        </div>
                    </div>
                    <div class="list_item">
                        <div class="list_text">
                            <p class="time_1">2016-09-27</p>
                            <a href="/a/zixun/2016/0927/12.html">
                                <p class="list_title">简约舒适的春日实穿方案</p>
                            </a>
                            <div class="list_brief">
                                <p>
                                    褪去厚重的棉服和夹克，春天的到来你只需要一件浅色打底Tee，以及，一件简约的字母印花套头卫衣。Chino的随意舒适的属性也给整体搭配看起来清爽不少，Sneaker当然是标配，不然舒适...
                                </p>
                            </div>
                            <div class="more_2">
                                <a href="/a/zixun/2016/0927/12.html">了解详细</a>
                            </div>
                        </div>
                        <div class="list_img">
                            <a href="/a/zixun/2016/0927/12.html">
                                <img src="{$Think.HZ}/picture/1-16092h113560-l.jpg">
                            </a>
                        </div>
                    </div>
                    <!-- item-end -->
                    <div class="list_item">
                        <div class="list_text">
                            <p class="time_1">2016-09-27</p>
                            <a href="/a/zixun/2016/0927/10.html">
                                <p class="list_title">Street Snap灰色初春的气息</p>
                            </a>
                            <div class="list_brief">
                                <p>
                                    色穿上身上也会觉得十分舒适。 除了黑白两色，就...
                                </p>
                            </div>
                            <div class="more_2">
                                <a href="/a/zixun/2016/0927/10.html">了解详细</a>
                            </div>
                        </div>
                        <div class="list_img">
                            <a href="/a/zixun/2016/0927/10.html">
                                <img src="{$Think.HZ}/picture/1-16092g553050-l.jpg">
                            </a>
                        </div>
                    </div>
                    <!-- item-end -->
                    <div class="list_item">
                        <div class="list_text">
                            <p class="time_1">2016-09-27</p>
                            <a href="/a/zixun/2016/0927/9.html">
                                <p class="list_title">春季联名款全面呈现</p>
                            </a>
                            <div class="list_brief">
                                <p>
                                    Vans Liberty 2015 年春季联名款已全面呈现，此次Liberty 和Vans 的春季联名更加迎合季节特点，此次系列依然用了Vans的经典鞋型Era、Authentic和Slip-On 作为蓝本打造，搭配出四双鞋款，其中两双...
                                </p>
                            </div>
                            <div class="more_2">
                                <a href="/a/zixun/2016/0927/9.html">了解详细</a>
                            </div>
                        </div>
                        <div class="list_img">
                            <a href="/a/zixun/2016/0927/9.html">
                                <img src="{$Think.HZ}/picture/1-16092g54z20-l.jpg">
                            </a>
                        </div>
                    </div>
                    <!-- item-end -->
                    <div class="pagess">
                        <ul>
                            <li><span class="pageinfo">共 <strong>1</strong>页<strong>3</strong>条记录</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        <!-- second_page-end -->
        </div>
    <!--引入尾部start-->
        {include file="public/footer" /}
    <!--引入尾部end-->
    </body>
</html>