<!DOCTYPE html>
<html lang="zh-cn">
    <!--引入头部start-->
    {include file="public/head" /}
    <!--引入头部end-->
    <body>
        <div class="second_page_b"> </div>
        <!--引入菜单 start-->
        {include file="public/headNav" /}
        <!--引入菜单 end-->
        <div class="h_100"></div>
        <div class="content">
            <div class="second_page">
                <div class="side_l">
                    {include file="public/leftPictureNav" /}
                    {include file="public/leftContactUs" /}
                </div>
                <div class="side_r ">
                    <div class="detail_time">
                        2016-09-27
                    </div>
                    <div class="title_3">
                        简约舒适的春日实穿方案
                    </div>
                    <div class="detail_text"> 
                        <img src="{$Think.HZ}/picture/21143221a-0.jpg">
                        <p>
                            褪去厚重的棉服和夹克，春天的到来你只需要一件浅色打底Tee，以及，一件简约的字母印花套头卫衣。Chino的随意舒适的属性也给整体搭配看起来清爽不少，Sneaker当然是标配，不然舒适度就会减分。搭配双肩包或是手提包都是不错的选择~ MYGESMART 街头风印花长袖T恤 ￥159.00 ...<br>
                            做为经典款中的经典款，875必然是热爱皮靴的潮人鞋柜中，不可缺少的一双，精致的做工和样式，从当初传统的工作靴到现在的鞋中之王，Red Wing的经典品质始终是拥蹙者的必备圣品。（点击图片购买） PUMA再度携手Alexander McQueen推出全新联名系列，不仅结合了McQ创意总监莎拉伯顿（Sar...
                        </p> 
                    </div>
                    <div class="ctrl"> 
                        <a class="btn_2" id="back" href="/a/zixun/"></a> 
                        <a class="btn_2" id="prev" href=""></a> 
                        <a class="btn_2" id="next" href="/a/zixun/2016/0927/10.html"></a>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        <!-- second_page-end -->
        </div>
    <!--引入尾部start-->
        {include file="public/footer" /}
    <!--引入尾部end-->
    </body>
</html>