<!DOCTYPE html>
<html lang="zh-cn">
    <!--引入头部start-->
    {include file="public/head" /}
    <!--引入头部end-->
    <body>
        <div class="second_page_b"> </div>
        <!--引入菜单 start-->
        {include file="public/headNav" /}
        <!--引入菜单 end-->
        <div class="h_100"></div>
        <div class="content">
            <div class="second_page">
                <div class="side_l">
                    {include file="public/leftWordNav" /}
                    {include file="public/leftContactUs" /}
                </div>
                <div class="side_r news_">
                    <div class="title_3">关于/ABOUT</div>
                    <div class="detail_text">
                        <img src="{$Think.HZ}/picture/2.jpg" />
                        <p>
                            苹果公司2015年春季发布会在美国旧金山芳草地艺术中心召开。发布会上苹果重点发布了全新的Macbook 12英寸新机型，同时宣布了Apple Watch智能手表的售价与发售时间。让奢侈品业界值得关注的是Apple Watch其中一个版本Edition金表版售价7.4万元到126万元，苹果公司2015年春季发布会在美国旧金山芳草地艺术中心召开。发布会上苹果重点发布了全新的Macbook 12英寸新机型，同时宣布了Apple
                        </p>
                    </div>
                </div>
            </div>
        <!-- second_page-end -->
        </div>
    <!--引入尾部start-->
        {include file="public/footer" /}
    <!--引入尾部end-->
    </body>
</html>