<!DOCTYPE html>
<html lang="zh-cn">
    <!--引入头部start-->
    {include file="public/head" /}
    <!--引入头部end-->
    <body>
        <div class="second_page_b"> </div>
        <!--引入菜单 start-->
        {include file="public/headNav" /}
        <!--引入菜单 end-->
        <div class="h_100"></div>
        <div class="content">
            <div class="second_page">
                <div class="side_l">
                    {include file="public/leftWordNav" /}
                    {include file="public/leftContactUs" /}
                </div>
                <div class="side_r news_">
                    <div class="section_title_1">
                        <p>平面模特</p>
                        <div class="setting"></div>
                    </div>
                    <div class="gallery_list"> 
                        <div class="gallery_box"> 
                            <img src="{$Think.HZ}/picture/1-16092p041460-l.jpg"> 
                            <span>Diy图片/摄影/产品标题</span> 
                            <a href="/a/zuopin/jzsy/17.html"></a> 
                        </div>
                        <div class="gallery_box"> 
                            <img src="{$Think.HZ}/picture/1-16092h11t30-l.jpg"> 
                            <span>Diy图片/摄影/产品标题</span> 
                            <a href="/a/zuopin/pmmt/16.html"></a> 
                        </div>
                        <div class="gallery_box"> 
                            <img src="{$Think.HZ}/picture/1-16092h11j90-l.jpg"> 
                            <span>Diy图片/摄影/产品标题</span> 
                            <a href="/a/zuopin/pmmt/15.html"></a> 
                        </div>
                        <div class="gallery_box"> 
                            <img src="{$Think.HZ}/picture/1-16092h11a20-l.jpg"> 
                            <span>Diy图片/摄影/产品标题</span> <a href="/a/zuopin/pmmt/14.html"></a> 
                        </div>
                        <div class="gallery_box"> 
                            <img src="{$Think.HZ}/picture/1-16092h116000-l.jpg"> 
                            <span>Diy图片/摄影/产品标题</span> <a href="/a/zuopin/pmmt/13.html"></a> 
                        </div>
                        <div class="gallery_box"> 
                            <img src="{$Think.HZ}/picture/1-16092g615110-l.jpg"> 
                            <span>Diy图片/摄影/产品标题</span> <a href="/a/zuopin/pmmt/11.html"></a> 
                        </div> 
                    </div>
                    <div class="pagess">
                        <ul>
                            <li><span class="pageinfo">共 <strong>1</strong>页<strong>6</strong>条记录</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        <!-- second_page-end -->
        </div>
    <!--引入尾部start-->
        {include file="public/footer" /}
    <!--引入尾部end-->
    </body>
</html>