<!DOCTYPE html>
<html lang="zh-cn">
    <!--引入头部start-->
    {include file="public/head" /}
    <!--引入头部end-->
    <body>
        <div class="second_page_b"> </div>
        <!--引入菜单 start-->
        {include file="public/headNav" /}
        <!--引入菜单 end-->
        <div class="h_100"></div>
        <div class="content">
            <div class="second_page">
                <div class="side_l">
                    {include file="public/leftWordNav" /}
                    {include file="public/leftContactUs" /}
                </div>
                <div class="side_r">
                    <div class="detail_time">2016-09-28</div>
                    <div class="title_3">Diy图片/摄影/产品标题</div>
                    <div class="detail_text">
                        <img src="{$Think.HZ}/picture/004209a06-0.jpg">
                        <p>
                            Animates space with elegance and spontaneity, awakening memories of a past full of celebrity divas and limelight with its shape and chromes. LED illuminated cylinders are arranged at different heights around a central ring and alternate shades of precious metals in pastel colours with transparencies. The brushing of the metallisation leaves to the light the task of creating the suggested decorum.　
                        </p>
                    </div>
                    <div class="ctrl">
                        <a class="btn_2" id="back" href="/a/zuopin/jzsy/"></a>
                        <a class="btn_2" id="prev" href=""></a>
                        <a class="btn_2" id="next" href=""></a>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        <!-- second_page-end -->
        </div>
    <!--引入尾部start-->
        {include file="public/footer" /}
    <!--引入尾部end-->
    </body>
</html>