<div class="footer">
    <div class="footer_cell">
        <div class="foot_extend cf">
            <div class="foot_img"><!--下面img标签里填写底部图片地址-->
                <img src='{$Think.HZ}/picture/dd.jpg'/> </div>

            <!--修改下方每个条目href的#可跳转链接地址   如果只有3列，修改for4为for3-->
            <div class="foot_box for4" id="link">
                <p>FRIENDSHIP LINK</p>
                <a href='http:/www.adminbuy.cn/' target='_blank'>织梦源码</a>     <a href='http:/www.adminbuy.cn/' target='_blank'>织梦模板</a>     <a href='http:/www.adminbuy.cn/' target='_blank'>响应式网站模板</a>     <a href='http:/www.adminbuy.cn/' target='_blank'>模板王</a>     <a href='http:/www.adminbuy.cn/' target='_blank'>网站源码</a>     <a href='http:/www.adminbuy.cn/' target='_blank'>网站模板</a>     <a href='http:/www.adminbuy.cn/' target='_blank'>discuz模板</a>     <a href='http:/www.adminbuy.cn/' target='_blank'>手机网站模板</a>     <a href='http:/fang.adminbuy.cn/' target='_blank'>仿站网</a>     <a href='http:/sc.adminbuy.cn/' target='_blank'>图标下载</a>    </div>
            <div class="foot_box for4">
                <p>SHOWCASE</p>
                <a href="{$Think.HZ}/a/zuopin/jzsy/17.html">Diy图片/摄影/产品标题</a>
                <a href="{$Think.HZ}/a/zuopin/pmmt/16.html">Diy图片/摄影/产品标题</a>
                <a href="{$Think.HZ}/a/zuopin/pmmt/15.html">Diy图片/摄影/产品标题</a>
            </div>
            <div class="foot_box for4">
                <p>NEWS</p>
                <a href="{$Think.HZ}/a/zixun/2016/0927/12.html">简约舒适的春日实穿方案</a>
                <a href="{$Think.HZ}/a/zixun/2016/0927/10.html">Street Snap灰色初春的气息</a>
                <a href="{$Think.HZ}/a/zixun/2016/0927/9.html">春季联名款全面呈现</a>
            </div>
            <div class="foot_box for4">
                <p>SERVICE</p>
                <a href="{$Think.HZ}/a/guanyu/xiangmu/6.html">专业的数码转换</a>
                <a href="{$Think.HZ}/a/guanyu/xiangmu/7.html">走向更美好的人生路径</a>
                <a href="{$Think.HZ}/a/guanyu/xiangmu/8.html">百度云服务</a>
            </div>
        </div>
        <div class="follow">
            <a href="{$Think.HZ}/http:/wpa.qq.com/msgrd?v=3&uin=9490489&site=qq&menu=yes" target="_blank"><span class="s-qq" title="与我QQ在线聊天"></span></a>
            <a href="{$Think.HZ}/http:/weibo.com/gooxao" target="_blank"><span class="s-weibo" title="访问我的新浪微博"></span></a> </div>
        <p class="copy">
        <p>© 2009-2016 Www.AdminBuy.Cn AB模板网</p>
        </p>
        <p class="" style="font-size: 11px;"> 苏ICP12345678 </p>
    </div>
</div>
<script type='text/javascript' src='{$Think.HZ}/js/smoothscroll.js'></script>