<div class="header">

    <div class="nav">
        <div class="logo"><a href="{$Think.HZ}/"><img src="{$Think.HZ}/picture/logo.png"></a></div>
        <div class="nav_icon"></div>
        <div class="side_close"></div>
        <ul>
            <li   class='on' ><a href="{:Url('index/index')}" target="_self">首页/HOME</a></li>

            <li ><a href="{:Url('news/index')}" target="_self">资讯/NEWS</a></li>

            <li  rel='dropmenu2'><a href="{:Url('sample/index')}" target="_self">样品/SAMPLE</a></li>

            <li  rel='dropmenu3'><a href="{:Url('aboutus/index')}" target="_self">关于/ABOUT</a></li>

            <li ><a href="{:Url('contact/index')}" target="_self">联系/CONTACT</a></li>
        </ul>
        <div class="header_info">
            <p><img  src='{$Think.HZ}/picture/code.jpg'/></p>
        </div>
    </div>
</div>