<div class="side_box">
    <div class="section_title_1"> <p>作品/GALLERY</p> </div>
    <div class="gallery_box"> 
        <img src="{$Think.HZ}/picture/1-16092h116000-l.jpg"> <span>Diy图片/摄影/产品标题</span> <a href="/a/zuopin/pmmt/13.html"></a> 
    </div>
    <div class="gallery_box"> 
        <img src="{$Think.HZ}/picture/1-16092h11a20-l.jpg"> <span>Diy图片/摄影/产品标题</span> <a href="/a/zuopin/pmmt/14.html"></a> 
    </div>
    <div class="gallery_box"> 
        <img src="{$Think.HZ}/picture/1-16092h11t30-l.jpg"> <span>Diy图片/摄影/产品标题</span> <a href="/a/zuopin/pmmt/16.html"></a> 
    </div>
    <div class="gallery_box"> 
        <img src="{$Think.HZ}/picture/1-16092h11j90-l.jpg"> <span>Diy图片/摄影/产品标题</span> <a href="/a/zuopin/pmmt/15.html"></a> 
    </div>
    <a href="/a/zuopin/" class="btn_contact">查看更多</a> 
</div>